
.jumbotron {

  text-align: center;
 margin-top: 30px;
 margin-bottom: 20px;
 margin-left: 120px;
 margin-right: 120px;

}

body {
  
  background-image: url("../images/wallpaper.jpg");
}


@media screen and (max-width: 640px) {
  #content {
    height: 700px;
  }

  img {
    height: 200px;
    width: 250px;
  }
}